#map { 
    background-color: lightgrey;
    height: calc(100vh - 100px); 

}

#geocoder {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}   

/*
* TODO : DEBUG : plugin lrm-graphhopper 
*/
.leaflet-routing-icon {
    display: none;
}
.leaflet-routing-icon-undefined {
    display: none;
}

#myChart {

    min-height: 300px;

}